/* #region reset */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* #endregion reset */

/* #region color palette */

:root{
    --bool-lighter: rgba(255, 255, 255, 1);
    --bool-darker: black;
    --bool-bg-dark: rgba(0, 150, 136, 1);
    --bool-bg-light: rgba(220, 219, 210, 1);
    --bool-primary: rgba(213, 249, 186, 1);
    --bool-text: rgba(177, 177, 177, 1);
    --bool-nav: rgba(234, 234, 234, 1);
    --bool-notif: rgba(142, 218, 252, 1);
}


/* #endregion color palette */

/* #region debug */

/* body *{
    border: 1px solid black;
} */

.debug #app{
    height: 100%;
}

/* .debug #sidebar{
    border: 1px solid black;
}

.debug #sidebar > *{
    border: 1px solid black;
} */

/* .debug #main-app *{
    border: 1px solid black;
} */

/* .debug #sidebar {
    gap: 2rem;
} */

/* .debug #sidebar > *{
    height: 5rem;
} */


/* #endregion debug */


/* #region common rules */

body{
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(var(--bool-bg-dark) 14%, 14%, var(--bool-bg-light));
    height: 100vh;
    overflow: hidden;
    font-size: 1.1rem;
}

.row{
    display: flex;
    width: 100%;
}

.app-container{
    width: 100%;
    height: 95%;
    margin: auto;
    margin-top: 1.5rem;
    max-width: 1920px;
}

#app{
    width: 90%;
    margin: auto;
}


/* #endregion common rules */



/* #region utility */

.d-flex{
    display: flex;
}

.col-12{
    width: 100%;
}

.col-11{
    width: calc((100% / 12) * 11);
}

.col-10{
    width: calc((100% / 12) * 10);
}

.col-9{
    width: calc((100% / 12) * 9);
}

.col-8{
    width: calc((100% / 12) * 8);
}

.col-4{
    width: calc((100% / 12) * 4);
}

.col-3{
    width: calc((100% / 12) * 3);
}

.col-2{
    width: calc((100% / 12) * 2);
}

.col-1{
    width: calc(100% / 12);
}


/* #endregion utility */


/* #region sidebar */

#sidebar{
    flex-direction: column;
    height: 100%;

    & > *:not(.search-bar, .contact-list){
        padding: 0.8rem;
    }
}

    /* sidebar header */

.side-header{
    justify-content: space-between;
    align-items: center;
    background-color: var(--bool-nav);
    height: 100px;
    min-height: 100px;

    & .user{
        width: 60px;
        height: 60px;
    }

    & img{
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
        border-radius: 50%;
    }

    & .action{
        gap: 1.4rem;
        padding-right: 1rem;

        & > i{
            font-size: 1.8rem;
            color: var(--bool-text);
        }
    }
}

    /* sidebar notif */

.notifications{
    background-color: var(--bool-notif);
    align-items: center;

    & .alert{
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: var(--bool-lighter);

        & i{
            color: var(--bool-notif);
            font-size: 2rem;
            padding: 0.7rem;
            width: 100%;
            height: 100%;
        }
    }

    & .text{
        flex-direction: column;
        padding-left: 0.8rem;
        gap: 0.3rem;

        & a{
            color: grey;
            font-size: 0.9rem;
        }
    }
}


    /* searchbar */

.search-bar{
    background-color: var(--bool-nav);
    padding: 0.5rem;

    & .search{
        background-color: var(--bool-lighter);
        padding: 0.5rem;
        gap: 1rem;

        & > i{
            font-size: 1.3rem;
            color: var(--bool-text);
        }

        & input{
            border: none;
            width: 100%;

            &:focus{
                outline: none;
            }
        }
    }
}


    /* contact list */

.contact-list{
    height: 100%;
    background-color: var(--bool-lighter);
    border-right: 1px solid var(--bool-text);
    overflow-y: auto;

    & .text{
    width: 100%;
    }

    & .name{
    justify-content: space-between;
    }
}

.contact{
    padding: 0.8rem;
    border-bottom: 1px solid var(--bool-text);
    align-items: center;

    & .contact-pic > img{
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
        border-radius: 50%;    
    }

    & .text{
        padding-left: 0.8rem;
        flex-direction: column;
        gap: 0.3rem;

        & span, p{
            font-size: 0.9rem;
            color: var(--bool-text)
        }
    }

}

/* #endregion sidebar */




/* #region main-app */

#main-app{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.top-bar{    
    background-color: var(--bool-nav);
    justify-content: space-between;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 10;
    align-items: center;
    padding: 0.8rem;
    height: 100px;
    min-height: 100px;

    & .text{
        flex-direction: column;
        padding-left: 0.8rem;
        
        & > span{
            font-size: 0.9rem;
            color: var(--bool-text);
        }
    
    }
}

.chat-contact{
    align-items: center;
    height: 100%;
    width: 100%;
}


.contact-pic{

    width: 60px;
    height: 60px;

    & img{
        object-fit: contain;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}

.top-action{
    gap: 1.4rem;
    font-size: 1.8rem;
    color: var(--bool-text);
    padding-right: 1rem;
}


.chat{
    height: 100%;
    background-image: url(../img/mine.jpg);
    overflow-y: auto;
    padding: 2rem 4rem;

    & .my-msg, .contact-msg{
        border-radius: 1.5rem;
        padding: 1.2rem;
    }

}

.msg{
    gap: 2rem;
    flex-direction: column;

    & .my-msg{
        align-self: flex-end;
        background-color: var(--bool-primary);
    }

    & .contact-msg{
        align-self: flex-start;
        background-color: var(--bool-lighter);
    }

}




.bottom-bar{
    background-color: var(--bool-nav);
    justify-content: space-around;
    z-index: 10;
    width: 100%;
    background-color: var(--bool-nav);
    padding: 0.8rem;
    align-items: center;
    height: 8%;

    & > i{
        font-size: 1.8rem;
        color: grey;
        text-align: center;
    }

    & input{
        padding: 0.8rem;
        border: none;
        border-radius: 0.5rem;

        &:focus{
            outline: none;
        }
    }
}





/* #region media queries */

@media screen and (max-width: 991px) {

    .app-container{
        height: 100vh;
        margin: 0;        
    }
    
    #app{
        width: 100%;
        height: 100%;
        margin: 0;
    }
    
    .col-md-1{
        width: calc(100% / 12);
    }

    .col-md-11{
        width: calc((100% / 12) * 11);
    }

    .col-md-12{
        width: 100%;
    }
    

    .hide{
        display: none;
    }

    #sidebar{
        width: 100px;
    }

    #main-app{
        width: 100%;
    }

    
}




@media screen and (max-width: 540px) {
    
    .col-sm-12{
        width: 100%;
    }

    #sidebar{
        display: none;
    }

    .bottom-bar > i{
        display: none;
    }
}