/* #region reset */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* #endregion reset */

/* #region color palette */

:root{
    --bool-lighter: rgba(255, 255, 255, 1);
    --bool-darker: black;
    --bool-bg-dark: rgba(0, 150, 136, 1);
    --bool-bg-light: rgba(220, 219, 210, 1);
    --bool-primary: rgba(213, 249, 186, 1);
    --bool-text: rgba(177, 177, 177, 1);
    --bool-nav: rgba(234, 234, 234, 1);
}


/* #endregion color palette */

/* #region debug */

body *{
    border: 1px solid black;
}

.debug #app{
    height: 100%;
}



/* #endregion debug */


/* #region common rules */

body{
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(var(--bool-bg-dark) 14%, 14%, var(--bool-bg-light));
    height: 100vh;
}

.app-container{
    width: 100%;
    height: 95vh;
    margin: 1.5rem auto;
    max-width: 1920px;
}

#app{
    width: 90%;
    height: 100vh;
    margin: auto;
    flex-wrap: wrap;
}


/* #endregion common rules */



/* #region utility */

.d-flex{
    display: flex;
}

.col-12{
    width: 100%;
}

.col-11{
    width: calc((100% / 12) * 11);
}

.col-8{
    width: calc((100% / 12) * 8);
}

.col-4{
    width: calc((100% / 12) * 4);
}

.col-1{
    width: calc(100% / 12);
}


/* #endregion utility */





/* #region media queries */

@media screen and (max-width: 991px) {

    .app-container{
        height: 100vh;
        margin: 0;        
    }
    
    #app{
        width: 100%;
        height: 100%;
        margin: 0;
    }
    
    .col-md-1{
        width: calc(100% / 12);
    }

    .col-md-11{
        width: calc((100% / 12) * 11);
    }

    
}




@media screen and (max-width: 540px) {
    
    .col-sm-12{
        width: 100%;
    }

    #sidebar{
        display: none;
    }
}